.App {
  background-color: #11100f;
  min-height: 100vh;
  color: #902ebb;
  color: #63c328;
  color: #f4831b;
  font-family: "Candy, Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 16px;
}

.app-content {
  padding: 30px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  flex-direction: column;
  text-align: center;
}

.button {
  width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1c1c1c;
  color: #86ff3c;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  background-color: transparent;
  outline: 2px solid #86ff3c;
  border: 0px;
  color: #86ff3c;
  font-size: 20px;
  border-radius: 5px;
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 7px;
  width: 95%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reset-index-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.black-out {
  height: 200vh;
  width: 200vw;
  object-fit: cover;
  object-position: "top";
  background-color: black;
  position: absolute;
}

.tree-cover {
  height: 200%;
  max-height: 100%;

  object-position: "top";
  background-color: black;
  position: absolute;
}

.MuiPaper-root {
  background-color: #11100f !important;
}

.menu-dropdown {
  color: #86ff3c;
}

.modal-title {
  font-weight: bold;
  font-size: larger;
}

.modal-content {
  min-width: 70%;
}

.ritual-text {
  font-family: "bloodcrow";
  font-size: 30px;
}

.regular-text {
  padding-top: 10px;
  padding-bottom: 10px;
}

.points-form {
  .MuiSelect-select,
  .MuiButton-root {
    background-color: rgb(187, 0, 255) !important;
  }
  .error {
    color: red;
  }
}
