body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #11100F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Candy';
  src: local('Candy'), url(./assets/fonts/scarycandy.otf) format('truetype');}

@font-face {
  font-family: 'Murderer';
  src: local('Murderer'), url(./assets/fonts/youmurdererbb_reg.ttf) format('truetype');}

@font-face {
  font-family: 'PhantomFingers';
  src: local('PhantomFingers'), url(./assets/fonts/PhantomFingers.ttf) format('truetype');}
    